@font-face {
    font-family: SF-Pro;
    src: url("../SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
    font-family: sf-bold;
    src: url("../SFPRODISPLAYBOLD.OTF");
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SF-Pro;
    background-color: #BCBEA8;
    text-decoration: none;
    list-style: none;
}
.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
